<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css'>
		<link rel='stylesheet' href='https://cdn.rawgit.com/devinhunt/typebase.css/v0.5.0/typebase.css'>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i'>
		<link rel='stylesheet' href='/css/main.css'>

		<link rel='icon' type='image/png' href='/images/icon.png'/>
		<link rel='apple-touch-icon' href='/images/icon.png'/>

		<title>Efragments</title>
	</head>
	<body>
		<header>
			<h1><a href="/">efragments</a></h1>
			<p class='hug'>by Will Hughes</p>
		</header>
		<article>
			{% block content %}{% endblock %}
		</article>
		<footer>
			<p><a href="https://xes.io" target="_blank">Site by XES</a></p>
		</footer>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/page.js/1.7.1/page.min.js'></script>
	</body>
</html>
